.card {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  position: relative;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  opacity: 1;
  cursor: pointer;
}

.card__image:hover {
  opacity: 0.4;
  cursor: pointer;
}

.card__content {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__title {
  margin: 0;
  max-width: 350px;
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card__like-button {
  background-image: url(../images/heart.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 0.4;
  cursor: pointer;
}

.card__like-button:hover {
  opacity: 1;
  cursor: pointer;
}

.card__like-button_active {
  background-image: url(../images/redheart_active.svg);
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1;
}

.card__like-button_active:hover {
  opacity: 0.4;
}

.card__delete-button {
  background-image: url(../images/trash\ icon\ _Default.svg);
  width: 32px;
  height: 32px;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 1;
}

.card__delete-button:hover {
  background-image: url(../images/delete.svg);
  opacity: 1;
  cursor: pointer;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }

  .card__title {
    max-width: 250px;
    font-size: 16px;
  }
}
