.modal {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 16px;
  background-color: #00000080;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s linear, opacity 0.5s linear;
  z-index: 9999;
}

.modal_is_opened {
  visibility: visible;
  opacity: 1;
}

.modal__content {
  width: 100%;
  max-width: 282px;
  padding: 24px 22px 24px;
  background: #fff;
  border-radius: 10px;
  box-sizing: border-box;
  position: relative;
}

.modal__title {
  margin: 0 0 24px 0;
  color: #212121;
  font-size: 18px;
  font-weight: 900;
  line-height: 22px;
  text-align: left;
}

.modal__close {
  position: absolute;
  top: -36px;
  right: 0;
  width: 20px;
  height: 20px;

  background: transparent url(../images/close.svg) center no-repeat;
  background-size: 35px 35px;

  border: none;
  padding: 0;
  margin: 0;

  cursor: pointer;
  opacity: 0.4;
  transition: opacity 0.3s;
}

.modal__close:hover {
  opacity: 1;
}

.modal__close_type_preview {
  top: -40px;
  right: -40px;
  background-color: transparent;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  margin-bottom: 24px;
  color: #212121b2;
}

.modal__input {
  width: 100%;
  margin-top: 8px;
  padding: 12px 16px;
  border-radius: 8px;
  border: 1px solid #21212166;
  box-sizing: border-box;
  font-size: 20px;
  font-weight: 500;
}

.modal__input::placeholder {
  color: #2121214d;
}

.modal__submit-btn {
  margin-top: 16px;
  width: 100%;
  height: 46px;
  background-color: #000;
  color: #fff;
  font-size: 14px;
  border-radius: 2px;
  border: none;
  cursor: pointer;
  transition: transform 0.3s linear;
}

.modal__submit-btn:hover {
  transform: scale(1.05);
}

.modal_type_preview {
  padding: 0 16px;
}

.modal__image-container {
  position: relative;
}

.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  width: 100%;
  border-radius: 8px;
  object-fit: contain;
  display: block;
}

.modal__caption {
  position: absolute;
  left: 0;
  top: calc(100% + 10px);

  padding: 4px 8px;
  margin: 0;

  background-color: #212121;
  color: #fff;
  border-radius: 8px;

  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
}

@media screen and (max-width: 320px) {
  .modal__content {
    padding: 22px 12px 12px;
  }

  .modal__title {
    font-size: 20px;
  }

  .modal__close {
    top: 22px;
    right: 12px;
  }

  .modal__form {
    margin-top: 34px;
  }

  .modal__input {
    font-size: 16px;
  }
}

@media screen and (max-width: 480px) {
  .modal__caption {
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  .modal__content {
    max-width: 430px;
    padding: 34px 36px 36px;
  }

  .modal__title {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 32px;
  }

  .modal__close {
    width: 32px;
    height: 32px;
    top: -45px;
    right: -45px;

    background-size: 48px 48px;
  }
}
