.modal {
  position: fixed;
  align-items: center;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  background-color: #00000080;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  visibility: hidden;
  opacity: 0;
  justify-content: center;
  transition: visibility 0.5s linear, opacity 0.5s linear;
  padding: 0 16px;
  z-index: 9999;
}

.modal_type_preview {
  padding: 0 16px;
}

.modal_is_opened {
  opacity: 1;
  visibility: visible;
}

.modal__content {
  background-color: #fff;
  border-radius: 10px;
  width: 100%;
  max-width: 282px;
  padding: 24px 22px 24px;
  position: relative;
  box-sizing: border-box;
}

.modal__title {
  font-size: 18px;
  font-weight: 900;
  line-height: 22px;
  margin: 0 0 24px 0;
  text-align: left;
  color: #212121;
}

.modal__close {
  position: absolute;
  width: 20px;
  height: 20px;
  background: transparent url(../images/close.svg) center no-repeat;
  background-size: 35px 35px;
  border: none;
  top: -36px;
  right: 0;
  cursor: pointer;
  transition: 0.3s;
  padding: 0;
  margin: 0;
  opacity: 0.4;
}

.modal__close:hover {
  opacity: 1;
}

.modal__close_type_preview {
  top: -40px;
  right: -40px;
  background-color: transparent;
}

.modal__submit-btn {
  margin-top: 16px;
  background-color: #000;
  color: #fff;
  width: 100%;
  height: 46px;
  border-radius: 2px;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

.modal__submit-btn:hover {
  transform: scale(1.05);
  transition: transform 0.3s linear;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  margin-bottom: 24px;
  color: #212121b2;
}

.modal__input {
  display: block;
  border: 1px solid #21212166;
  margin: 8px 0 0;
  width: 100%;
  line-height: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 500;
  line-height: 100%;
  box-sizing: border-box;
}

.modal__input::placeholder {
  color: #2121214d;
}

.modal__image-container {
  position: relative;
}

.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  width: 100%;
  object-fit: contain;
  display: block;
  border-radius: 8px;
}

.modal__caption {
  margin: 0;
  padding: 4px 8px;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  color: #fff;
  position: absolute;
  background-color: #212121;
  border-radius: 8px;
  left: 0;
  top: calc(100% + 10px);
}

@media screen and (max-width: 320px) {
  .modal__content {
    position: relative;
    top: 360px;
    left: 16px;
    bottom: 20px;
    padding: 22px 12px 12px;
  }

  .modal__title {
    font-size: 16px;
    font-weight: 500;
    line-height: 100%;
    text-align: center;
    margin: 0 0 24px;
  }

  .modal__close {
    top: 22px;
    right: 12px;
    width: 40px;
    height: 40px;
    opacity: 0.4;
  }

  .modal__form {
    margin-top: 134px;
    border-radius: 8px;
    padding: 12px;
  }

  .modal__input {
    font-size: 16px;
    line-height: 100%;
    margin-bottom: 24px;
    height: 48px;
    padding-top: 16px;
    padding-right: 12px;
    padding-bottom: 16px;
    padding-left: 12px;
    border-radius: 8px;
    border-width: 1px;
  }
}

@media screen and (max-width: 627px) {
  .modal__close {
    top: -48px;
    right: 0;
  }

  .modal__image {
    max-width: unset;
  }
}

@media screen and (max-width: 480px) {
  .modal__caption {
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  .modal__content {
    max-width: 430px;
    padding: 34px 36px 36px;
  }

  .modal__title {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 32px;
  }

  .modal__close {
    width: 32px;
    height: 32px;
    top: -45px;
    right: -45px;
  }
}
