.modal {
  align-items: center;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  background-color: #00000080;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  visibility: hidden;
  opacity: 0;
  justify-content: center;
  transition: visibility 0.5s linear, opacity 0.5s linear;
  padding: 0 10px;
  z-index: 9999;
}

.modal_type_preview {
  padding: 0 16px;
}

.modal_is_opened {
  visibility: visible;
  opacity: 1;
}

.modal__content {
  max-width: 730px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #fff;
  padding: 36px 50px 32px;
  position: relative;
}

.modal__close {
  width: 40px;
  height: 40px;
  background: transparent url(../images/close.svg) center no-repeat;
  background-size: 35px 35px;
  border: none;
  position: absolute;
  top: 0;
  right: -52.5px;
  transition: 0.3s;
  padding: 0;
  margin: 0;
  cursor: pointer;
  opacity: 0.4;
}

.modal__close:hover {
  opacity: 1;
}

.modal__submit-btn {
  position: relative;
  max-width: 156px;
  width: 100%;
  padding: 18px 32px;
  background-color: #212121;
  border: none;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
}

.modal__submit-btn:hover {
  transform: scale(1.05);
  transition: transform 0.3s linear;
}

.modal__title {
  margin: 0 0 32px;
  font-size: 32px;
  font-weight: 500;
  line-height: 100%;
  color: #212121;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  font-size: 16px;
  font-weight: 500;
  line-height: 110%;
  color: #212121b2;
}

.modal__input {
  display: block;
  border: 1px solid #21212166;
  margin: 8px 0 0;
  width: 100%;
  line-height: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 500;
  line-height: 100%;
  box-sizing: border-box;
}

.modal__input::placeholder {
  color: #2121214d;
}

.modal__image-container {
  position: relative;
}

.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  width: 100%;
  object-fit: contain;
  display: block;
  border-radius: 8px;
}

.modal__caption {
  margin: 0;
  padding: 4px 8px;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  color: #fff;
  position: absolute;
  background-color: #212121;
  border-radius: 8px;
  left: 0;
  top: calc(100% + 10px);
}

@media screen and (max-width: 320px) {
  .modal__content {
    padding: 22px 12px 12px;
  }

  .modal__title {
    font-size: 20px;
  }

  .modal__close {
    top: 22px;
    right: 12px;
  }

  .modal__form {
    margin-top: 34px;
  }

  .modal__input {
    font-size: 16px;
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 627px) {
  .modal__close {
    top: -48px;
    right: 0;
  }

  .modal__image {
    max-width: unset;
  }
}

@media screen and (max-width: 480px) {
  .modal__caption {
    font-size: 16px;
  }
}
